<!DOCTYPE html>
<html>

<head>

    <title>Authentication System</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>🔐 Authentication System</h1>

        <p>
            Build secure Flask applications with Login,
            Register, Sessions and Password Hashing.
        </p>

        <div class="buttons">

            <a href="/login" class="btn">
                Login
            </a>

            <a href="/register" class="btn">
                Register
            </a>

        </div>

    </div>

</body>

</html>
